@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  background: white;
  background: radial-gradient(ellipse at -200% 60%, rgba(209, 209, 209, 0.48) 22%, rgba(182, 182, 182, 0) 71%),
    linear-gradient(160deg, rgb(233, 233, 233), hsl(0, 0%, 100%) 100%);
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
}
