*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #f0f0f0;
  transition: background 0.25s ease-in-out;
}

main.dark {
  background: lightgrey;
}

a {
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
